In [10]:
import numpy as np
import pandas as pd


from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder,StandardScaler

In [2]:
df = pd.read_csv("gemstone.csv")
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [4]:
df.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [5]:
X = df.drop(["price", "id"], axis = 1)
X.head()

   carat        cut color clarity  depth  table     x     y     z
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77

In [6]:
y = df["price"]
y

0         13619
1         13387
2          2772
3           666
4         14453
          ...
193568     1130
193569     2874
193570     3036
193571      681
193572     2258
Name: price, Length: 193573, dtype: int64

In [7]:
X["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

# Create Pipeline and perform scalling and onehot encoding

In [8]:
categorical_cols = X.select_dtypes("object").columns
numerical_cols = X.select_dtypes(include = np.number).columns
numerical_cols, categorical_cols

(Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object'),
 Index(['cut', 'color', 'clarity'], dtype='object'))

In [11]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, categorical_cols),
         ("StandardScaler", numeric_transformer, numerical_cols),        
    ]
)

In [12]:
X = preprocessor.fit_transform(X)

# Test Train Split

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 42)

# Modelling

In [14]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
#from catboost import CatBoostRegressor
#from xgboost import XGBRegressor

In [16]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [17]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    #"XGBRegressor": XGBRegressor(), 
    #"CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train.values.flatten()) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 951.6964
- Mean Absolute Error: 626.8042
- R2 Score: 0.9445
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 944.6626
- Mean Absolute Error: 623.0522
- R2 Score: 0.9448
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 952.2039
- Mean Absolute Error: 624.6163
- R2 Score: 0.9444
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 945.0152
- Mean Absolute Error: 620.9552
- R2 Score: 0.9447
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 951.6893
- Mean Absolute Error: 626.6925
- R2 Score: 0.9445
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 944.6633
- Mean Absolute Error: 622.9502
- R2 Score: 0.9448
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 560.9330
- Mean Absolute Error: 291.8725
- R2 Score: 0.9807
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 695.0796
- Mean Absolute Error: 357.7006
- R2 Score: 0.9701
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 12.8816
- Mean Absolute Error: 0.8012
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 825.3591
- Mean Absolute Error: 420.9653
- R2 Score: 0.9578
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 228.9069
- Mean Absolute Error: 116.2987
- R2 Score: 0.9968
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 606.6429
- Mean Absolute Error: 309.7566
- R2 Score: 0.9772
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 1378.3471
- Mean Absolute Error: 972.7717
- R2 Score: 0.8835
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1379.5422
- Mean Absolute Error: 969.6817
- R2 Score: 0.8822
===================================